#include? "../../LoopFollowConfigOverride.xcconfig"

//
//  Config.xcconfig
//  nsapple
//
//  Created by Kenneth Stack on 4/12/18.
//  Copyright © 2018 Perceptus.org. All rights reserved.
//
unique_id = ${DEVELOPMENT_TEAM}


// To build multiple instances of LoopFollow, remove the // on
// the next two lines and replace "Bob" with the desired app name for this instance:
display_name = Hal_2001
app_suffix = .$(display_name)



// Explanation:
// --------------------------------
// For example, if 'display_name' is set to "Jonas", the bundle identifier will become:
// com.<TEAM_ID>.LoopFollow.Jonas

// Note: Remember to comment out or remove the 'display_name' and 'app_suffix' lines
// when you want to revert to using the default bundle identifier.
